{% extends "base.html" %}

 {%  block content %}

<nav class="navbar mb-5 navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Search for the best books</a>
    <form class="d-flex" action="/" method="post">
      <input class="form-control me-2" name="search_term" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="row d-flex">
 {% for book in books %}
  <div class="card mb-3 ml-2 mr-1 col-md-3 col-sm-5 " style="width: 18rem;">
    <div class="card-body mx-auto">
      <h5 class="card-title">{{book.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
      <p class="card-text">this is the books description</p>
      <a href="#" class="card-link">{{book.year}}</a>
      <a href="/book/{{ book.isbn }}" class="card-link">view this book</a>
    </div>
  </div>
  {% else %}
        <div class="card-footer mt-5 text-muted">
            No books found
        </div>


  {%endfor%}

</div>


{% endblock %}