{% extends "base.html" %}


{%  block content %}


<div class="container container--xs">
    <div class="row justify-content-md-center">


        <div id="signup_div_wrapper">
            <img class="img-fluid mx-auto d-block mb-3 col-md-3 mt-5"
                 src="../static/images/20140312-091614.jpg"
                 alt="">
            <h1 class="mb-1 text-center">Sign up</h1>
            <p class="fs-14 text-gray text-center mb-5"> Register and review the best books</p>
                {% if message %}
            <p class="message">{{ message | safe }}</p>
                {% endif %}

            <div class="row">
                <div class="col-md-6 mx-auto">
                     <form method="post" class="register" action="/signup">

<!--                user name-->

                <div class="form-group">
                    <label for="user_login">User Name</label>
                    <input type="text" name="username" id="user_login" class="form-control" value="" size="20">
                </div>

<!--                email-->
                <p class=" form-row form-row-last">
                    <label for="reg_sr_lastname">Email address  </label>

                    <input type="email" class="input-text form-control"
                           name="email" id="reg_sr_lastname" value="test@test.com" required="">
                <div class="invalid-feedback">This field is required</div>
                </p>

<!-- password-->
                <p class= "form-row form-row-wide">
                    <label for="reg_email">password<span class="required">*</span></label>
                    <input type="password" class="input-text form-control"
                           name="password" id="reg_email" value="123" required="">
                <div class="invalid-feedback">This field is required</div>
                </p>
<!--confirm-->
<p class= "form-row form-row-wide">
                    <label for="reg_password">Confirm <span class="required">*</span></label>
                    <input type="password" class="input-text form-control"
                           name="confirm" id="reg_password" required="" value="123">
                <div class="invalid-feedback">This field is required</div>
                </p>


                <!-- Spam Trap -->
                <div style="left: -999em; position: absolute;"><label for="trap">Anti-spam</label><input type="text"
                                                                                                         name="email_2"
                                                                                                         id="trap"
                                                                                                         tabindex="-1"
                                                                                                         autocomplete="off">
                </div>


                <p class="form-row form-row-wide mailchimp-newsletter">
                    <input
                        class=" input-checkbox"
                        id="" type="checkbox" name="remember"
                        value="1" checked="checked">
                    <label for=""
                                                            class=" -for-checkbox inline">
                        <span>Remember me</span></label>
                <div class="invalid-feedback">This field is required</div>
                </p>
                <div class="clear"></div>
                <div class=""></div>
                <p class="">

                    <input
                        type="submit" class="btn btn-brand btn-info btn-block btn-lg mb-4 mt-3" style="margin:0;" name="register"
                        value="Sign Up">
                <div class="invalid-feedback">This field is required</div>
                </p>


            </form>
                </div>
            </div>


            <p class="small text-center text-gray-soft">Already have an account  <a
                    href="/login">Login</a></p>



        </div>
    </div>
</div>

{% endblock%}